# Learning python basics
## Tuples
Unpacking:

In [1]:
a, b, c = (3, "Iman", [3, 4, 10])

In [2]:
print(a)
print(b)
print(c)

3
Iman
[3, 4, 10]

Unpacking a nested tuple:

In [3]:
myTuple1 = 1, (3, 5)
print(myTuple1)

(1, (3, 5))

In [4]:
a, b = myTuple1

In [5]:
print(a)
print(b)

1
(3, 5)

Name swapping:

In [6]:
a, b = b, a
print(a)
print(b)

(3, 5)
1

Using tuple unpacking in control flow:

In [7]:
my_list = [(3, 4, 1), (10, -1, 3), (2, 4, 8), (0, 0, 6)]
for a, b, c in my_list:
    print(f"a is {a}")
    print(f"b is {b}")
    print(f"c is {c}")

a is 3
b is 4
c is 1
a is 10
b is -1
c is 3
a is 2
b is 4
c is 8
a is 0
b is 0
c is 6

Unpacking when you are only interested in a few elements and not all:

In [8]:
myTuple2 = (1, 2, 4, 4, 10, (1, 3))
a1, b1, *rest = myTuple2

In [9]:
print(a1)
print(b1)
print(*rest)

1
2
4 4 10 (1, 3)

There is nothing special about the word "rest". Popular usage is *_

In [10]:
a2, b2, *_ = myTuple2

In [11]:
print(a2)
print(b2)
print(*_)

1
2
4 4 10 (1, 3)

Tuple methods: not too many since tuples are immutable. A useful one is **count**

In [12]:
myTuple2.count(4)

2

## Lists
Very similar to tuples, but are mutable
You can create a list from a tuple:

In [13]:
listFromTuple = list(myTuple2)
print(listFromTuple)

[1, 2, 4, 4, 10, (1, 3)]

In [14]:
gen = range(10)
type(gen)

range

In [15]:
gen_list = list(gen)
gen_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Some methods:
append(like before)
insert(at a specific location)
pop(the inverse action of insert)
remove(removes the first element that matches the argument)

In [16]:
listFromTuple.append('appended element')

In [17]:
print(listFromTuple)

[1, 2, 4, 4, 10, (1, 3), 'appended element']

In [18]:
listFromTuple.insert(2,'inserted element')
print(listFromTuple)

[1, 2, 'inserted element', 4, 4, 10, (1, 3), 'appended element']

In [19]:
listFromTuple.pop(3)
print(listFromTuple)

[1, 2, 'inserted element', 4, 10, (1, 3), 'appended element']

In [20]:
listFromTuple.append(10)
listFromTuple.remove(10)

In [21]:
print(listFromTuple)

[1, 2, 'inserted element', 4, (1, 3), 'appended element', 10]

Checking to see if an element exist in a list: **in**

In [22]:
5 in listFromTuple

False

In [23]:
2 in listFromTuple

True

In [24]:
'meowmeow' not in listFromTuple

True

Concatenation:

can be either by + or a method called *extend*. *extend* is more efficient as it does not need creation of a new list

In [25]:
myList = [1, 3, 4]
concatenatedList = myList + ['hellow', 10, (1, 3)]
print(concatenatedList)

[1, 3, 4, 'hellow', 10, (1, 3)]

In [26]:
myList.extend(['hellow', 10, (1, 3)])
print(myList)

[1, 3, 4, 'hellow', 10, (1, 3)]

**sort** method

In [27]:
myList = [3, 4, 10, -1, -5, 39]
myList.sort()

In [28]:
print(myList)

[-5, -1, 3, 4, 10, 39]

We can also pass a key on how to sort:

In [29]:
myList_string = ['iman', 'Josefine', 'Peter', 'Lennart', 'Linnea']
myList_string.sort(key = len)

In [30]:
print(myList_string)

['iman', 'Peter', 'Linnea', 'Lennart', 'Josefine']

### Binary search using the bisect module
bisect module: can be used to put an element in a list so that the list is kept sorted. Two functions: bisect, insort:

In [31]:
import bisect
bisect.bisect(myList, 12) # This shows the location where the new element 12 should be placed.

5

In [32]:
bisect.insort(myList, 12) # This actually puts 12 in place where it should be in order for the list to be kept sorted.

In [33]:
print(myList)

[-5, -1, 3, 4, 10, 12, 39]

Slicing:

In [34]:
myList[1:5]

[-1, 3, 4, 10]

In [35]:
myList[:5]

[-5, -1, 3, 4, 10]

In [36]:
myList[1:]

[-1, 3, 4, 10, 12, 39]

In [37]:
myList[2:-1]

[3, 4, 10, 12]

In [38]:
myList[-1:-5]

[]

In [39]:
myList[-5:-1]

[3, 4, 10, 12]

In [40]:
myList[::2]

[-5, 3, 10, 39]

In [41]:
myList[::-1] # This reverses the sequence

[39, 12, 10, 4, 3, -1, -5]

## Sequence built-in functions
Enumerate

In [42]:
myDict = {}
for i, item in enumerate(myList): # i is the index of "item"
    myDict[item] = i
myDict

{-5: 0, -1: 1, 3: 2, 4: 3, 10: 4, 12: 5, 39: 6}

In [43]:
z = enumerate(myList)
z

Sorted function: similar to the sort method

In [44]:
sorted(myList)

[-5, -1, 3, 4, 10, 12, 39]

In [45]:
sorted('Iman Shafikhani')

[' ', 'I', 'S', 'a', 'a', 'a', 'f', 'h', 'h', 'i', 'i', 'k', 'm', 'n', 'n']

Zipping sequences: creates a sequence with tuples whose elements are from the arguments passed to the zip function

In [46]:
a1_list = ['cat', 'dog', 'tiger']
a2_list = ['purr', 'woof', 'roar']
a_zipped = zip(a1_list, a2_list)
a_zipped

In [47]:
a_zipped = list(a_zipped)
a_zipped # Tuples inside a list

[('cat', 'purr'), ('dog', 'woof'), ('tiger', 'roar')]

One can pass several inputs to the zip function

In [48]:
a_zipped3 = list(zip(a1_list, a2_list, myList))
print(a_zipped3)

[('cat', 'purr', -5), ('dog', 'woof', -1), ('tiger', 'roar', 3)]

Unzipping a zipped file

In [49]:
type(a_zipped3)

list

In [50]:
unzipped1, unzipped2, unzipped3 = zip(*a_zipped3)

In [51]:
unzipped1

('cat', 'dog', 'tiger')

In [52]:
unzipped2

('purr', 'woof', 'roar')

In [53]:
unzipped3

(-5, -1, 3)

Dimention after zipping is limited by the shortest sequence

In [54]:
a3_list = [2, 3]

In [55]:
list(zip(a1_list, a2_list, a3_list)) # This list has two dimensions as a3_list has two dimensions.

[('cat', 'purr', 2), ('dog', 'woof', 3)]

In [56]:
list(enumerate(a1_list))

[(0, 'cat'), (1, 'dog'), (2, 'tiger')]

Using enumerate with zip function

In [57]:
for i, (a1, a2) in enumerate(zip(a1_list, a2_list)):
    print("Index {0}: first element is {1}, second element is {2}".format(i, a1, a2))

Index 0: first element is cat, second element is purr
Index 1: first element is dog, second element is woof
Index 2: first element is tiger, second element is roar

Reversed: reverses a sequence. It is a generator which means it doesn't create a reversed sequence unless it is materialized using list, tuple, etc.

In [58]:
reversed(myList)

In [59]:
list(reversed(myList))

[39, 12, 10, 4, 3, -1, -5]

In [60]:
myList

[-5, -1, 3, 4, 10, 12, 39]

In [61]:
tuple(reversed(myList))

(39, 12, 10, 4, 3, -1, -5)

## Dictionaries
probably the most important built-in object in Python

In [62]:
myDict1 = {1: "Iman", "number": 13435, "Test": "HIL"} # Key, Value pairs

In [63]:
myDict1

{1: 'Iman', 'number': 13435, 'Test': 'HIL'}

In [64]:
myDict1[1] # In the brackets, write down a key to get its value

'Iman'

In [65]:
myDict1['Test']

'HIL'

Check to see if an element is a key in our dictionary

In [66]:
1 in myDict1

True

In [67]:
"Iman" in myDict1

False

Deleting a key-pair value: 

1- use *del* function

2- use *pop* method

In [68]:
myDict1['dummy1'] =  'value1'
myDict1['dummy2'] = 'value2'
myDict1

{1: 'Iman',
 'number': 13435,
 'Test': 'HIL',
 'dummy1': 'value1',
 'dummy2': 'value2'}

In [69]:
del myDict1['dummy2']
myDict1

{1: 'Iman', 'number': 13435, 'Test': 'HIL', 'dummy1': 'value1'}

In [70]:
poppedValue = myDict1.pop('dummy1') # We can get the popped value here
poppedValue

'value1'

In [71]:
myDict1

{1: 'Iman', 'number': 13435, 'Test': 'HIL'}

key and value methods for dictionaries

In [72]:
myDict1.keys()

dict_keys([1, 'number', 'Test'])

In [73]:
list(myDict1.keys()) # Creating a list of keys

[1, 'number', 'Test']

In [74]:
list(myDict1.values()) # Creating a list of values

['Iman', 13435, 'HIL']

Merging one dictionary to another one using the *update* method

In [75]:
myDict1.update({'Test': 'SIL', 3: 'a new value'})
myDict1 # the value for the key "Test" has been changed as you can see below

{1: 'Iman', 'number': 13435, 'Test': 'SIL', 3: 'a new value'}

Creaing dictionaries from lists: joining two lists pair-wise to create a new dictionary

In [76]:
myList

[-5, -1, 3, 4, 10, 12, 39]

In [77]:
myList2 = list('Josefin')
myList2

['J', 'o', 's', 'e', 'f', 'i', 'n']

In [78]:
dict(myList, myList2) # The input to the dict function should be a sequence of tuples.

TypeError: dict expected at most 1 argument, got 2

In [ ]:
dict(zip(myList, myList2))

In [ ]:
dict(zip(range(5), reversed(range(5))))

In [ ]:
myDict1

Default values:

In [ ]:
myDict1.get(1)

In [ ]:
myDict1.get(34, 'default')

In [ ]:
myDict1 # the dictionary has not changed at all!

Let's try with a method called *setdefault*

In [ ]:
myDict1.setdefault(34, 'default')

In [ ]:
myDict1 # the dictionary has changed now!

In [ ]:
a = myDict1.setdefault(34, 'default') # This returns the value corresponding to the ket 34

In [ ]:
a

In [ ]:
Words = ['Iman', 'dice', 'laptop', 'kebab', 'door', 'leak']

In [ ]:
myDict = {}
for word in Words:
    letter = word[0]
    myDict.setdefault(letter, []).append(word)
myDict

This can be done using collections module

In [ ]:
from collections import defaultdict
coll_dict = defaultdict(list)
for word in Words:
    coll_dict[word[0]].append(word)
coll_dict

In [ ]:
dict(coll_dict)

You can't use any object as a key in dictionaries. The key should be immutable (this doesn't apply to values). In other terms, the object should be *hashable*. How to test if an object is hashable?

In [ ]:
hash('3')

In [ ]:
hash(12)

In [ ]:
hash([1, 3])

As you can see above, a list is not hashable. It can be converted to a tuple to be used as a key:

In [ ]:
hash(tuple([1, 3]))

## Sets
Similar to dictionaries but without the values. A set is a collection of unique elements

In [ ]:
mySet = set(range(6))
mySet

In [ ]:
mySet = set([3, 4, 5, 1])
mySet

In [ ]:
mySet = {3, 4, 1, 6}
mySet

In [ ]:
set_a = {1, 3, 5, 10}
set_b = {3, 1, 5, 11}

In [ ]:
set_a | set_b

In [ ]:
set_a & set_b

In [ ]:
set_a.union(set_b)

In [ ]:
set_a

In [ ]:
set_a.intersection(set_b)

Using methods such as union and intersection, the sets themselves do not change.However, using *update* or *intersection_update* the set whose method is being called will change:

In [ ]:
set_a.intersection_update(set_b)

In [ ]:
set_a

In [ ]:
set_a.update(set_b)

In [ ]:
set_a

Another way of using *update* and *intersection_update* is using operators

In [ ]:
set_a = {1, 3, 6, 10}
set_b = {3, 1, 5, 32}

In [ ]:
set_a |= set_b

In [ ]:
set_a

In [ ]:
set_a &= set_b

In [ ]:
set_a

Set elements should be immutable (like tuples)

In [ ]:
my_set = {[3, 5, 6]}

In [ ]:
my_set = {tuple([3, 5, 6])}

Check if a set is a subset of another set (or a superset)

In [ ]:
set_a.issubset(set_b)

In [ ]:
set_a.issuperset(set_b)

In [ ]:
a = 100 if 3> 10 else 300

In [ ]:
a

## Comprehensions
We can create lists, dicts, and sets using a collection:

\[expression for x in collection if condition\]

In [ ]:
myStringList = ['ali', 'iman', 'neda', 'mona']
myNewList = [len(x) for x in myStringList]
myNewList

In [ ]:
myNewList = [len(x) for x in myStringList if x[0] == 'm' or x[0] == 'n']
myNewList

In [ ]:
myNewDict = {string: index for index, string in enumerate(myStringList)}
myNewDict

In [ ]:
myNewSet = {len(x) for x in myStringList}
myNewSet # you can see that the elements are unique

In [ ]:
set(map(len,myStringList))

Nested list comprehensions

In [ ]:
All_data = [['iman', 'Josefine'],['Ali', 'Tram']]
names = [x for names in All_data for x in names]

In [ ]:
names

In [ ]:
data_tuple = (('spade', 'hearts','diamnods'),('Iman', 'Neda', 'Mona'), ('engineer', 'SWE', 'Doctor'))

In [ ]:
data_listFromTuple = [[x for x in tup] for tup in data_tuple]

In [ ]:
data_listFromTuple

## Functions

In [ ]:
def myFirstFun(x, y, z = 12):
    return x**y, x/z
myFirstFun(6, 2, 12)

In [ ]:
myFirstFun(2,2)

Keyword arguments should always come after positional arguments when we call a function. In the above example, x and y are positional arguments while z is a keyword argument. 12 is the default value for z. This means that if we don't declare what z is, it will be assumed to be 12.

In [ ]:
a, b= myFirstFun(3, 4)

In [ ]:
print(a)
print(b)

### Lambda functions or anonymous functions

In [ ]:
myFunc = lambda x: x**2
z = myFunc(3)
z

In [ ]:
myString = ['man','womantrtygbgj','carpenter','doctor','aaaaaaaaaaaaaaaaaa']
list(myString)
set('man')

In [ ]:
# Let's sort this string
myString.sort(key=lambda x:len(set(x)))
myString

In [ ]:
myString.sort(key = lambda x: len(x), reverse= True)

In [ ]:
myString

### Currying: partial argument application

Suppose that we have defined a function "f" that takes two arguments. Now define a function "g" that uses the function "f" but only takes one argument. This is called currying:

In [ ]:
f = lambda x, y: x**2 + y
g = lambda x: f(5, x)
g(3)

In this scenario, we say that the variable y is curried. We could also do that using the package functools as follows.

In [ ]:
from functools import partial
g2 = partial(f, 5)
g2(3)

### Generators

 A generator is a concise way to build an iterable object. When we pass a list, for example, to a for loop, Python interpreter tries to make an iterator out of it.

* Iterating on a dictionary yields the keys.

In [ ]:
list_test = [3, 4, 5, 6]
for item in list_test:
    print(item)

In [ ]:
iter(list_test) # This is the iterator

Functions return a result while a generator can return a sequence of results, pausing after each one until the next one is requested. When the function gets called, they are executed immediately. However, generators are executed only when you want an element from it.

In [ ]:
def element_gen(x):
    for item in x:
        yield item # for generators, use "yield" instead of "return".
gen = element_gen([3, 4, 5])

In [ ]:
print(gen)

In [ ]:
for item in gen: # Only now the code for element_gen is being executed.
    print(item)

Generator expression (similar to list, dict and set)

In [ ]:
gen = (i**2 for i in range(10))

In [ ]:
gen

In [ ]:
sum(gen) # you can pass it to many functions that require an iterable object

In [ ]:
sum(gen) # interesting what happended here.

In [ ]:
sum(i**2 for i in range(10))

In [ ]:
dict((i, i**2) for i in range(10)) # here we passed a generator to the dict function

### Iterrools module:
It has a collection of generators for data algorithms.

In [ ]:
import itertools
mylist_1 = ['iman','ali','mona','mahdi', 'akbar']
itertools.groupby(mylist_1, lambda item: item[0]) # This is a generator

In [ ]:
newList = []
i = 0;
for initLetter, name in itertools.groupby(mylist_1, lambda item: item[0]): # the function in the second argument determines 
    #the keys by which items in mylist_1 shall be groupbied
    #newList.extend([list(name)])   
    print(initLetter, list(name)) # name here is a generator. That is why we have materialized it with list()
    i += 1

In [ ]:
mytup = ('hello', 3)
mytup[0]

## Exception handling

In [79]:
try:
    print(float("345"))
except:
    print("enter a number string")

345.0

In [80]:
def myInt(x):
    try:
        return int(x)
    except:
        print("Bad input argument")
myInt(12)

12

In [81]:
myInt(12.5)

12

In [82]:
myInt('123')

123

In [83]:
myInt('hello')

Bad input argument

Only catching a specific exception: except(e1, e2, ...)

In [84]:
def myInt2(x): 
        return int(x)

myInt2('hello')

ValueError: invalid literal for int() with base 10: 'hello'

Let's write an exception handling only for ValueErorr and not all errors.

In [85]:
def myInt2(x):
    try:
        return int(x)
    except ValueError:
        print("the error is ValuError")

myInt2('hello')

the error is ValuError

We can use several except blocks for different types of exceptions.
try:
    some code
catch firstError:
    some other code
catch secondError:
    some other code

*else*: the code in this section is executed if the code in *try* runs without throwing exception. 

question: why can't we just put the code in *else* block after the code written in the *try* block?

Ans: because the code of the *else* block might throw an exception and we might not want to catch and handle it mistakenly by the *except* blocks


*finally*: the code here executes regardless of success of execution of the *try* block.

In [86]:
X = 3;
try:
    X/0
except:
    print('In this case, division by zero is allowed. the value itself will be returned')
    print(X)
else:
    print("The division was successful.")
finally:
    print("Execute this block of code regardless of the success of execution of the try block")

In this case, division by zero is allowed. the value itself will be returned
3
Execute this block of code regardless of the success of execution of the try block

## Files and the operating system

In [119]:
#opening a file
f = open('untitled.txt') # File gets open in a read-only mode 'r' by default.

In [120]:
for line in f:
    print(line)

This is a typical text file./

The difference between a natural bodybuilder and an enhanced one is the usage of drugs. Period!

The reason I stay natural is that I don't want to have a sick body.

I believe that one can get a physique beyond impressive by training naturally.\n

In [121]:
f_r = [line.rstrip() for line in f] # We can iterate over the lines in f

In [122]:
f_r #It is interesting that if I run the for-loop before executing f_r, this line of code gives empty list.

[]

In [124]:
f_r = [line.rstrip() for line in open('untitled.txt')]
f_r

['This is a typical text file./',
 'The difference between a natural bodybuilder and an enhanced one is the usage of drugs. Period!',
 "The reason I stay natural is that I don't want to have a sick body.",
 'I believe that one can get a physique beyond impressive by training naturally.\\n']

When you are done working with a file, it is important to close it so that its resources are released to the operating system.

In [125]:
f.close()

Another way to make sure the file gets closed is to use a **with** statement. The file will be closed after execution of the *with* statement.

In [127]:
with open('untitled.txt') as f:
    print([x.rstrip() for x in f])

['This is a typical text file./', 'The difference between a natural bodybuilder and an enhanced one is the usage of drugs. Period!', "The reason I stay natural is that I don't want to have a sick body.", 'I believe that one can get a physique beyond impressive by training naturally.\\n']

In [131]:
f = open('untitled_written.txt','w') # This opens the file in write mode, overwriting any file with the same name (Be very careful with this).
#Right now, the file I created is already overwritten.

Another way to create a file: open(path, 'x'). This creates a new file as long as it does not exist in the directory.

For every opened file, there are three useful methods of *read*, *tell*, and *seek*. 

*read* method reads certain number of characters from where the file handle's position.

In [132]:
f = open('untitled.txt')
f.read(10)

'This is a '

*tell* says where the file handle's position is (by the number of bytes read):

In [134]:
f.tell()

10

You can know what the default encoding is using the *sys* module:

In [135]:
import sys
sys.getdefaultencoding()

'utf-8'

*seek* changes the file handle's position to a certain position

In [139]:
f.seek(15)

15

In [143]:
f.read(4) # here we are reading from the position we seeked above which is 15th byte.

'txt '

In [144]:
f.close() # remember to close the file.

Now let's write some lines into the text file 'untitled_written.txt' that we created. For this we can use *write* or *writelines* methods. For our practice, let's write what we have in untitled.txt into the new txt file with the condition that we only want lines larger than 3 characters:

In [154]:
with open('untitled_written.txt','w') as f_w:
    f_w.writelines(x for x in open('untitled.txt') if len(x) > 3)

In [152]:
with open('untitled_written.txt', 'r') as f_w:
    lines = f_w.readlines()

In [153]:
lines

['This is a typical .txt file.\n',
 'The idea is to create a new file so that I can try what I learn on it!\n',
 'Author\n',
 'Iman Shafikhani']

In the above you can see that we have "\n" added to the end of each line. This is en EOL character.

In [156]:
lines_noEOL = [x.rstrip() for x in lines] # The method rstrip removes any EOL character from a string.

In [157]:
lines_noEOL

['This is a typical .txt file.',
 'The idea is to create a new file so that I can try what I learn on it!',
 'Author',
 'Iman Shafikhani']

In [158]:
type(lines)

list

Opening text file in binary mode (not UTF-8 encoding):

In [194]:
f = open('untitled.txt', 'rb')
data = f.read(10) # reading the first 10 characters
data

b'Hedstr\xc3\xb6m\n'

In [195]:
f1 = open('untitled.txt', 'r')
f1.read(10)

'HedstrÃ¶m\n'

In [198]:
data[0:7].decode('UTF-8') # this gives an error since file position falls in the middle of the bytes defining a unicode character

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 6: unexpected end of data

Let's open the file in a non-binary form

In [220]:
f.close()
f = open('untitled.txt')

In [221]:
f.read(10)

'SueÃ±a\nThi'

In [222]:
f.seek(4)

4

In [223]:
f.read(1)

'±'

Creating classes with Python:

In [5]:
class Employee:
    age = 23 #this is a property of the class

In [6]:
iman = Employee

In [7]:
iman.age

23

In [8]:
iman.age = 30
iman.age

30

Now let's create a class with methods.

In [12]:
class Employee:   
    def __init__(self, age=22, height=175): # This is called whenever we instantiate an object of the class Employee
        self.age = age
        self.height = height

In [13]:
iman = Employee(age=34, height=180)
iman.age

34

In [14]:
iman.height

180

In [16]:
Asghar = Employee() # Note that in here, I did not pass any argument to the class. Therefore, the default values of 22 and 175 will 
#be used for age and height respectively.

In [17]:
Asghar.age

22

In [18]:
Asghar.height

175

In [19]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self): # The __str__ method determines what to be returned if we print an object of the class.
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [21]:
print(Asghar) # Here we did not determine a __str__ method.

<__main__.Employee object at 0x00000248BF95E4C0>